<section class="section background">
  <div class="section__title">Profilo</div>
  <div class="section__content">
    <p>
      Studentessa universitaria determinata, estremamente attiva e dinamica. Mi piace mettermi alla prova in diversi contesti e imparare sempre dalle persone che mi circondano.
    </p>

    <p>
      Ho sempre mostrato una forte propensione per il sociale, da cui deriva il mio interesse per lavorare e operare nell'ambito <strong>peritale</strong> e per la <strong>Tutela Minori</strong>.

    </p>

    <p>
      Nel tempo libero sono spesso impegnata in attività di volontariato, adoro viaggiare e scoprire luoghi e culture diverse.
    </p>

    <!-- {% include employment-status.html %} -->

    <a href="{{site.resume}}" target="_blank" class="arrow-link">Scarica il mio CV</a>
  </div>
</section>
